@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --background: #ffffff;
    --foreground: #0f172a;
}

body {
    color: var(--foreground);
    background: var(--background);
}

@layer utilities {
    .text-balance {
        text-wrap: balance;
    }
}